
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 32%;
}
.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.social-signup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.social-signup button {
    background-color: #4285F4; /* Google Blue */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}
.social-signup button.apple {
    background-color: black; /* Apple Black */
}
.social-signup button.email {
    background-color: gray; /* Email Gray */
}
.form-field {
    margin-bottom: 15px;
}
.form-field label {
    display: block;
    margin-bottom: 5px;
}
.form-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-boxe{
    background-color: #e6e8e6;
    padding: 80px  40px!important;
    border-radius: 12px;
}